@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Prevent window scroll */
  background-color: #131722;
}

#__next {
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes blink-green {
  0% {
    background-color: rgba(74, 222, 128, 0.4);
  }

  /* green-400 */
  100% {
    background-color: transparent;
  }
}

@keyframes blink-red {
  0% {
    background-color: rgba(248, 113, 113, 0.4);
  }

  /* red-400 */
  100% {
    background-color: transparent;
  }
}

.blink-green {
  animation: blink-green 0.5s ease-out;
}

.blink-red {
  animation: blink-red 0.5s ease-out;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #374151;
  /* gray-700 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4B5563;
  /* gray-600 */
}

::-webkit-scrollbar-button {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #374151 transparent;
}

/* Hide TradingView Lightweight Charts Watermark Logo */
#tv-attr-logo,
.tv-lightweight-charts-logo,
a[href*="tradingview.com"] {
    display: none !important;
}